<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update animal</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/people">Люди</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/people/fish">Рыбы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/people/sweet">Конфеты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/people/team">Команды</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h1>Изменение <span th:text="${animal.getName()}"/> </h1>
    <form th:method="POST" th:action="@{/people/animal/{id}(id=${animal.getId()})}" th:object="${animal}">
        <div class="form-group"> <label for="name">Введите имя</label> <input type="text" th:field="*{name}" class="form-control" id="name"><div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div></div>
        <div class="form-group">
            <label for="surname">Введите возраст</label>
            <input type="text" th:field="*{years}" class="form-control" id="surname">

            <div style="color:red" th:if="${#fields.hasErrors('years')}" th:errors="*{years}">Age Error</div>
        </div>

        <div class="form-group">
            <label for="patronic">Введите Вид</label>
            <input type="text" th:field="*{type}" class="form-control" id="patronic">

            <div style="color:red" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Email Error</div>
        </div>

        <button type="submit" class="btn btn-primary">Изменить!</button>
    </form>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>