<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/animal">Животные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fish">Рыбы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sweet">Конфеты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team">Команды</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/typeanimal">Виды</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/passport">Паспорт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tournament">Турниры</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h1>Добавление человека</h1>
    <form th:method="POST" th:action="@{/people/addperson}" th:object="${person}">
        <div class="form-group">
            <label for="name">Введите имя</label>
            <input type="text" th:field="*{name}" class="form-control" id="name">
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        </div>
        <div class="form-group">
            <label for="age">Введите возраст</label>
            <input type="text" th:field="*{age}" class="form-control" id="age">
            <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
        </div>
        <div class="form-group">
            <label for="email">Введите емейл</label>
            <input type="text" th:field="*{email}" class="form-control" id="email">
            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
        </div>
        <div class="form-group">
            <label for="login">Введите логин</label>
            <input type="text" th:field="*{login}" class="form-control" id="login">
            <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">login Error</div>
        </div>
        <div class="form-group">
            <label for="password">Введите пароль</label>
            <input type="password" th:field="*{password}" class="form-control" id="password">
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>
        </div>

        <div class="mb-3">
            <label for="author" class="form-label">Введите паспорт</label>
            <select class="form-control" id="author" th:field="*{passport}">
                <option value="">-- Select Passport --</option>
                <option th:each="passport: ${passports}" th:value="${passport.id}" th:text="${passport.series+' '+passport.number}"></option>
            </select>
            <span th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}" ></span>
        </div>

        <div class="form-group">
            <label for="role">Select Role:</label>
            <select class="form-control" id="role" th:field="*{roles}">

                <option th:each="role: ${T(com.example.prs.models.Role).values()}" th:value="${role}" th:text="${role}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Добавить!</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>