<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Passport</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/people">Люди</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/animal">Животные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fish">Рыбы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sweet">Конфеты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team">Команды</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/typeanimal">Виды</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tournament">Турниры</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h1>Добавление паспорта</h1>
    <form th:method="POST" th:action="@{/passport/addpassport}" th:object="${passport}">
        <div class="mb-3">
            <label for="series" class="form-label">Введите Серию</label>
            <input type="text" class="form-control" id="series" th:field="*{series}">
            <span th:if="${#fields.hasErrors('series')}" th:errors="*{series}" ></span>
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">Введите Номер</label>
            <input type="text" class="form-control" id="number" th:field="*{number}">
            <span th:if="${#fields.hasErrors('number')}" th:errors="*{number}" ></span>
        </div>
        <button type="submit" class="btn btn-primary">Добавить!</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>